body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #eee;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /*font-family: serif;*/
}

main {
  margin: 0 auto;
  width: 72%;
  background: #fff;
  padding: 0 10px;
}

/* styles for level 1 and 2 headings and paragraphs */
h1 {
  padding: 0 10px 0.5em; /* top, right-left, bottom */
  margin: 0;
  font-size: 2em;
  color: #669;
  letter-spacing: 0.05em;
}

h2 {
  padding: 0 10px 0.25em;
  margin: 0;
  font-size: 1.25em;
  color: #669;
  letter-spacing: 0.1em;
}

p {
  padding: 0 10px 1em;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.9em;
}

/* styles for links */
p a:link {
  color: #555;
}
p a:visited {
  color: #888;
}
p a:hover {
  background: #eee;
  text-decoration: none;
}
p a:active {
  background: #fcc;
}

p strong {
  color: #900;
}

p em {
  letter-spacing: 0.05em;
  background: #ff0;
}

.firstpara {
  font-size: 1.1em;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.firstpara::first-letter {
  padding: 2px 6px 2px 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fcc;
  float: left;
  font-size: 4.5em;
  margin: 0.1em 0.1em 0 -30px; /* top, right, bottom, left */
  line-height: 1em;
}
